<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-slate-50">
  <app-sidebar></app-sidebar>

  <div class="lg:w-75% mx-2  lg:ml-60 lg:flex lg:flex-col lg:pl-4">
    <app-buscador></app-buscador>


    <!-- Contenedor Dashboard -->
    <div class="container mx-auto p-4">
      <h1 class="text-1xl mb-2 text-gray-400">Inicio / Tipo de Aeronaves</h1>
    </div>
  </div>    
    
</body>
</html>